.field {
    padding: 7px;
    height: 25px;
    border-radius: 15px 0 0 15px;
    border-width: 1px;
}

.btn {
    padding: 7px;
    height: 41px;
    border-radius: 0 15px 15px 0;
    border-width: 1px;
}