.App {
  text-align: center;
}

.app-container {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1145px) {
  .app-container {
    flex-direction: column-reverse;
  }
}

.app-container > div {
  width: 50%;  
  background: linear-gradient(180deg, white, black);
}

@media only screen and (max-width: 1145px) {
  .app-container > div {
    width: 100%;
  }
}